# Entorno local
.env

# Django
staticfiles/
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Flutter / Dart
src/FrontEnd/.dart_tool/
src/FrontEnd/build/
src/FrontEnd/.flutter-plugins
src/FrontEnd/.flutter-plugins-dependencies
src/FrontEnd/pubspec.lock
*.iml

# IDE
.idea/
.vscode/
